*.iml
.gradle
/local.properties
**/.idea/*
/.idea/workspace.xml
/.idea/libraries
.DS_Store
**/build
/captures
.externalNativeBuild
.modules
/log
/scripts/monkey/monkeyLog
/scripts/monkey/monkeyCrashLog
/scripts/monkey/memoryLeak
/app/publishInput/
/true/
.pods
.settings
.project
.classpath
.res
**/obj
build
.moduleexp/