<manifest xmlns:android="http://schemas.android.com/apk/res/android"
package="com.example.chapter_7">

<application android:allowBackup="true">

    <activity
        android:name=".SevenChapterActivity"
        android:configChanges="orientation|screenSize"/>

    <activity
        android:name=".TestActivity"
        android:configChanges="orientation|screenSize"/>
</application>

</manifest>